body {
  margin: 0;
  font-family: 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

.tiptap table {
  border-collapse: collapse;
  width: 100%;
}

.tiptap th,
.tiptap td {
  border: 1px solid #999;
  padding: 4px 8px;
  text-align: left;
}

.mc-choice-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mc-choice-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.mc-choice-content img {
  max-width: 100%;
  height: auto;
}
