body {
  margin: 0;
  font-family: 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.ck-checkbox-label {
  display: inline-flex !important;
  align-items: center !important;
  gap: 0.3em !important;
  user-select: none;
}

.ck-checkbox-input {
  order: 1;
  margin: 0;
  cursor: pointer;
  pointer-events: auto;
}

.ck-checkbox-text {
  order: 2;
  border: 1px dashed transparent;
  border-radius: 2px;
  padding: 1px 2px;
  min-height: 1.2em;
  display: inline-block;
}

.ck-content img {
  float: left;
  margin-right: 1em;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

.ck-content table {
  border-collapse: collapse;
  width: 100%;
}
.ck-content table, .ck-content th, .ck-content td {
  border: 1px solid #ccc;
}
.ck-content caption {
  text-align: center;
  font-style: italic;
}
